<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Petu.Saves" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Petu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Petu.Saves>
            <setting name="Pozice" serializeAs="String">
                <value />
            </setting>
        </Petu.Saves>
        <Petu.Properties.Settings>
            <setting name="StartAsAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndexOfPet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerzeHry" serializeAs="String">
                <value>0.9.8</value>
            </setting>
        </Petu.Properties.Settings>
    </userSettings>
</configuration>